<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A text is given below. Write a program to find the character which is at the index position obtained by adding the indices of the character 'o' of the word 'Hello' and 'o' of the word 'welcome'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>string = "Hello, welcome to my world." </b>

In [9]:
string = "Hello, welcome to my world."
a = string.find("o")
print("The index position of 'o' from word 'Hello': ",a)
b = string.find("o",5,26)
print()
print("The index position of 'o' from word 'welcome': ",b)
c=a+b
print()
print("The index position obtained by adding the indices of the character 'o' of the word 'Hello' \nand 'o' of the word 'welcome': ",c)
print()
print("The character which is at the index position obtained by adding the indices of the character 'o' of the word 'Hello' \nand 'o' of the word 'welcome': ",string[c])

The index position of 'o' from word 'Hello':  4

The index position of 'o' from word 'welcome':  11

The index position obtained by adding the indices of the character 'o' of the word 'Hello'
and 'o' of the word 'welcome':  15

The character which is at the index position obtained by adding the indices of the character 'o' of the word 'Hello'
and 'o' of the word 'welcome':  t

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Create a tuple with single value '5'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
mytuple=(5,)
print(mytuple)
print(type(mytuple))

(5,)
<class 'tuple'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program that takes two dictionaries and concatenates them into one dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below dictionaries:**

dictionary_1 = {'A':1, 'B':2}<br>

dictionary_2 = {'C':3}

In [17]:
dictionary_1 = {'A':1, 'B':2}
dictionary_2 = {'C':3}
dictionary_1.update(dictionary_2)
print(dictionary_1)

{'A': 1, 'B': 2}
{'C': 3}
{'A': 1, 'B': 2, 'C': 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Check whether the set X and Y are disjoint or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sets below (or create your own sets):**

#### Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }

#### Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

In [19]:
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}
print(X)
print(Y)

{67, 4, 5, 9, 11, 12, 78, 16, 22, 23, 89, 33, 34, 44, 45, 56}
{34, 99, 67, 41, 12, 45, 52, 23, 86, 55, 56, 89, 63}

In [21]:
X.isdisjoint(Y)

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Retrieve the third element in the given list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [2]:
num_list = [5, 3, 6, 1, 85, 23, 5, 13]
num_list[2]

6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Count the occurance of number -6 in the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**
    
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

In [6]:
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)
num_tuple.count(-6)

3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Check whether the number 53 is in the given list or not</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [80]:
num_list = [24, 18, 24, 47, 52]


if 53 in num_list:
    print("Yes, 53 is present in num_list")
else:
    print("No, 53 is not present in num_list")

No, 53 is not present in num_list

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Remove number 3 from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the set below:**

numbers = {2, 3, 4, 5}

In [33]:
numbers = {2, 3, 4, 5}
numbers.remove(3)
print(numbers)

{2, 4, 5}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to convert a list into tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list below:**

num_list = [24, 18, 24, 47, 52]

In [79]:
num_list = [24, 18, 24, 47, 52]
num_tuple = tuple(num_list)
print("The class of num_tuple is: ",type(num_tuple))
print(num_tuple)

The class of num_tuple is:  <class 'tuple'>
(24, 18, 24, 47, 52)

No, 53 is not present in num_list

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to retrieve the capital of 'Germany' from a given dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

In [7]:
Europe = { 
    'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 
    'France': { 'Capital':'Paris', 'Population':6.7 }, 
    'Germany': { 'Capital':'Berlin', 'Population':8.28 }, 
    'Norway': { 'Capital':'Oslo', 'Population':0.533 } 
}

print(Europe["Germany"]["Capital"])

Berlin

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Find maximum and the minimum value from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the elements:**
    
5, 10, 3, 15, 2, 20, 10, 5, 4, 3

In [8]:
set = {5, 10, 3, 15, 2, 20, 10, 5, 4, 3}

print("The maximun value set is: ",max(set))
print("The minimun value set is: ",min(set))

The maximun value set is:  20
The minimun value set is:  2