<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="New_GL_Logo.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=20px>
                    <b> Inclass-Lab  <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [1]:
def swap1(a):
    f = a[0]
    l = a[-1]
    a[0] = l
    a[-1] = f
    return a

In [2]:
my_list = [15, 78, 10, 45, 89]
swap1(my_list)

[89, 78, 10, 45, 15]

In [3]:
def swap2(a):
    a[0],a[-1] = a[-1],a[0]
    return a

In [4]:
my_list = [15, 78, 10, 45, 89]
swap2(my_list)

[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
def addgv(a,b):
    c=a+b
    return c

In [6]:
a=1204
b=344536
addgv(a,b)

345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
def eveodd(a):
    if a % 2 == 0:
        return "It's Even"
    else:
        return "It's Odd"

In [8]:
eveodd(24)

"It's Even"

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
def factorial(n):
    if n==0:
        return 1
    return n *factorial(n-1)

factorial(10)

3628800

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [64]:
x = []
    
for i in range(1,4):
    x.append(i)
print(x)

[1, 2, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
def strtwithsameletter(a,b):
    if a[0].lower() == b[0].lower:
        return True
    else:
        return False

In [12]:
str1 = "vivek"
str2 = "singh"

strtwithsameletter(str1,str2)

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
def isvowelpresent(a):
    for i in a:
        if i.lower() in "aeiou":
            return True
    return False

In [14]:
a = input("Enter a string: ")

isvowelpresent(a)

Enter a string: vivek

True

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [16]:
my_list = [1,2,3,3,11,34,3,3,4,5]

In [15]:
def removedupli(a):
    uniq_l = []
    for i in a:
        if i not in uniq_l:
            uniq_l.append(i)
    
    return uniq_l

In [17]:
unique_my_list = removedupli(my_list)
print(unique_my_list)

[1, 2, 3, 11, 34, 4, 5]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [18]:
string1 = 'Angel'
string2 = 'apple'

In [19]:
#case-sensitive
def commonchars(a,b):
    commoncharlist = []
    for i in string1:
        if i in string2:
            commoncharlist.append(i)
    return commoncharlist

In [20]:
commonchars1 = commonchars(string1,string2)
print(commonchars1)

['e', 'l']

In [21]:
#Not Case-Sensitive
def commoncharsL(a,b):
    commoncharlist = []
    for i in string1:
        if i.lower() in string2.lower():
            commoncharlist.append(i)
    return commoncharlist

In [22]:
commonchars1 = commoncharsL(string1,string2)
print(commonchars1)

['A', 'e', 'l']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [23]:
def AMS(a,b):
    c = a + b
    d = a * b
    e = a - b
    return c,d,e

In [24]:
a = 15
b = 4
AMS(a,b)

(19, 60, 11)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [35]:
st = [34, "34", 55.6, 2, 56, 45]

In [31]:
def suminlist(a):
    b = 0
    for i in a:
        if isinstance(i,(int,float)):
            b+=i
        elif i.isdigit():   # if its not is digit return 0
            b+=int(i)
        else:
            b+=0
    return b

In [36]:
suminlist(st)

226.6

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [37]:
minimumnum1 = lambda num1,num2 : num1 if num1 < num2 else num2

In [38]:
minimumnum1(34,78)

34

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [39]:
def powerraiser(a,b):
    squaredtup = map( lambda x : x**a , b)
    c = tuple(squaredtup)
    return c

In [40]:
numbertup = (11, 21, 30, 34)
powerraiser(2,numbertup)

(121, 441, 900, 1156)

In [41]:
numbertup = (11, 21, 30, 34)
squaredtup = map( lambda x : x**2 , numbertup )
a = tuple(squaredtup)
print(a)

(121, 441, 900, 1156)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [42]:
def lengthofwords(sentence):
    lengthoeword = map( lambda i : len(i)  , sentence.split() )
    a = list(lengthoeword)
    return a

In [43]:
sentence = 'Python for Data Science'
lengthofwords(sentence)

[6, 3, 4, 7]

In [44]:
sentence = 'Python for Data Science'
lengthoeword = map( lambda i : len(i)  , sentence.split() )
a = list(lengthoeword)
print(a)

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [45]:
def rems(a,numbers):
    rem = map( lambda x : x%a , numbers)
    remainders = list(rem)
    return remainders

In [46]:
numbers = [ 74, 85, 14, 23 ]
rems(5,numbers)

[4, 0, 4, 3]

In [47]:
numbers = [ 74, 85, 14, 23 ]
rem = map( lambda x : x%5 , numbers)
remainders = list(rem)
print(remainders)

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [48]:
def conccorres(list1,list2):
    l = map(lambda x,y : str(x)+str(y), list1,list2)
    list3 = list(l)
    return list3
    print(list3)

In [49]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]
conccorres(list1,list2)

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

In [50]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]

l = map(lambda x,y : x+str(y), list1,list2)
list3 = list(l)
print(list3)

['I11', 'felt22', 'happy33', 'because44', 'I55', 'saw66', 'the77', 'others88', 'were99']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [51]:
def filtcommon(arr1,arr2):
    a = filter(lambda i : i in arr1, arr2)
    arr3 = list(a)
    return arr3

In [52]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

filtcommon(arr1,arr2)

['o', 'i', 't']

In [53]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

a = filter(lambda i : i in arr1, arr2)
arr3 = list(a)
print(arr3)

['o', 'i', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [54]:
def filtodd(num):
    o = filter(lambda i: i%2,num)
    oddnum = list(o)
    return oddnum

In [55]:
num = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
filtodd(num)

[21, 23, 443, 355, 743, 823, 1241, 3673, 37, 7]

In [56]:
num = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
o = filter(lambda i: i%2,num)
oddnum = list(o)
print(oddnum)

[21, 23, 443, 355, 743, 823, 1241, 3673, 37, 7]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [57]:
from functools import reduce

In [60]:
def sum(s,e):
    return reduce(lambda x,y: x+y,range(s,e))

In [61]:
sum(1,100)

4950

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [62]:
def max1(m):
    return reduce(lambda x,y: x if x>y else y,m)

In [66]:
max1(mylist)

102

In [65]:
mylist = [47,11,42,102,13]
m = reduce(lambda x,y: x if x>y else y, mylist)
print(m)

102