<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="New_GL_Logo.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=20px>
                    <b> Inclass-Lab  <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
a = "Hello, How are YOU?"
print(a)

Hello, How are YOU?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [3]:
i = 1
j = 4
while i < 10 and j >= 0:
    print(" "*j, "*"*i)
    i+=2
    j-=1

     *
    ***
   *****
  *******
 *********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
print("A\nB\nC")

A
B
C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [6]:
str1="hello world"
print(str1)
print(type(str1))

hello world
<class 'str'>

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [7]:
int1=25
print(int1)
print(type(int1))

25
<class 'int'>

ii. A fractional variable

In [8]:
frac=8.9
print('data type of:' ,type(frac))

data type of: <class 'float'>

**Declare a boolean variable and check its data type.**

In [9]:
bool(1)

True

In [10]:
print('data type of:' , type(bool(1)))

data type of: <class 'bool'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
comp_var=5+2j
print(comp_var)
print(type(comp_var))

(5+2j)
<class 'complex'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
f=23.45
print(f)
print(type(f))
h=int(f)
print(h)
print(type(h))

23.45
<class 'float'>
23
<class 'int'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
num_var=23
print(num_var)
h=str(num_var)
print(h)
print(type(h))

23
23
<class 'str'>

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
145*354 -1345/45+(462+23)/3

51461.777777777774

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [78]:

print("1353 plus 234:" ,1353+234)
print("2355 minus 346:" ,2355+346)
print("234 times 457:" ,234*457)
print("25 divided by 6" ,25/6)
print("Obtain remainder of 25 divided by 6:" ,25%6)
print("33 raised to 4:" ,33**4)
print("2 raised to 10:" ,2**10)

1353 plus 234: 1587
2355 minus 346: 2701
234 times 457: 106938
25 divided by 6 4.166666666666667
Obtain remainder of 25 divided by 6: 1
33 raised to 4: 1185921
2 raised to 10: 1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
height=float(int(input('enter the height in cm:' )))
weight=float(int(input('enter the weight in kg:' )))
bmi= weight / (height/100)**2
print('status of the person:' ,bmi)

enter the height in cm:65
enter the weight in kg:55
status of the person: 130.1775147928994

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
a = (54+34)*45 
b = (0.9*2432/0.9)
a is b

False

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
a = 'hello'
b = 'say'
a+b

'hellosay'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
num = 34 
str1 ='how old are you?'
str(num)+str1

'34how old are you?'

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

1. START
2. Take the input for table of 5 as n
3.use for loop
4.for i in range(1,11)
5.print(n*i)
6.END

In [3]:
n=int(input("enter the number for table of 5:"))
for i in range(1,11):
    print(n*i)

enter the number for table of 5:5
5
10
15
20
25
30
35
40
45
50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

1.start
2.take input for a number divisble by 7 as n
3.use if else conditional stateemnt
4.if n%7==0:
    print('divisible by 7')
5.else:
    print('not divisible by 7')
6.END

In [9]:
n= int(input('enter the number:'))
if n%7==0:
    print('divisible by 7')
else:
    print('not divisble by 7')

enter the number:14
divisible by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

1.start
2.take input for factorial of number as n
3.factorial=1
4.use conditional statement if, elif ,else
5.if num < 0:
    print("factorial does not exist for negative numbers")
6.elif num == 0:
     print("The factorial of 0 is 1")
7.else:
    for i in range(1,num + 1):
        factorial = factorial*i
8.print("The factorial of",num,"is",factorial)
9.END

In [22]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
    print("factorial does not exist for negative numbers")
elif num == 0:
     print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        factorial = factorial*i
    print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [28]:
num=int(input('enter the number:'))
if num > 1:
    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            print(i,"times",num//i,"is",num)
            break
        else:
            print(num,"is a prime number")

enter the number5
5 is a prime number
5 is a prime number
5 is a prime number