<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Create an array of integers from 20 to 2 with a step of -2
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
import numpy as np

In [3]:
n1=np.arange(20,2,-2)
n1

array([20, 18, 16, 14, 12, 10,  8,  6,  4])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Find the minimum value along each of the rows
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Create a 2D Numpy array from list of lists

    num_array = np.array([[110, 102, 183],
                     [140, 175, 106],
                     [170, 195, 117],
                     [192, 140, 195]])

In [129]:
num_array = np.array([[110, 102, 183],
                 [140, 175, 106],
                 [170, 195, 117],
                 [192, 140, 195]])
print(num_array)

[[110 102 183]
 [140 175 106]
 [170 195 117]
 [192 140 195]]

In [130]:
n1=num_array[0]
n1
n1.min()

102

In [131]:
n1=num_array[1]
n1
n1.min()

106

In [132]:
n1=num_array[2]
n1
n1.min()

117

In [133]:
n1=num_array[3]
n1
n1.min()

140

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Replace all odd numbers in the array with -2
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below**<br>
    
       num_array = np.array([0, 31, 42, 43, 34, 45, 26, 27, 38, 94, 65, 78, 76])

In [31]:
num_array = np.array([0, 31, 42, 43, 34, 45, 26, 27, 38, 94, 65, 78, 76])
num_array[num_array%2==1] =-2
num_array

array([ 0, -2, 42, -2, 34, -2, 26, -2, 38, 94, -2, 78, 76])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Replace all odd numbers in the array 'num_array' with -2 without changing the original array
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below**<br>

    num_array = np.array([0, 31, 42, 43, 34, 45, 26, 27, 38, 94, 65, 78, 76])

In [7]:
num_array = np.array([0, 31, 42, 43, 34, 45, 26, 27, 38, 94, 65, 78, 76])
print(num_array)
num_array[num_array%2==1] =-2
num_array

[ 0 31 42 43 34 45 26 27 38 94 65 78 76]

array([ 0, -2, 42, -2, 34, -2, 26, -2, 38, 94, -2, 78, 76])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Stack two arrays vertically
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>

    quantity1 = np.arange(10).reshape(2,-1)
    quantity2 = np.repeat(1, 10).reshape(2,-1)

In [158]:
quantity1 = np.arange(10).reshape(2,-1)
print(quantity1)
print(' ')
quantity2 = np.repeat(1, 10).reshape(2,-1)
print(quantity2)
print(' ')

n1=np.vstack(tup=(quantity1,quantity2))
print(n1)

[[0 1 2 3 4]
 [5 6 7 8 9]]

[[1 1 1 1 1]
 [1 1 1 1 1]]

[[0 1 2 3 4]
 [5 6 7 8 9]
 [1 1 1 1 1]
 [1 1 1 1 1]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Get common elements from the two arrays
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>

    age_a = np.array([11,12,13,22,23,44,43,24,45,36])
    age_b = np.array([17,22,13,22,47,34,39,44,29,28])

In [136]:
age_a = np.array([11,12,13,22,23,44,43,24,45,36])
age_b = np.array([17,22,13,22,47,34,39,44,29,28])
n=np.intersect1d(age_a,age_b)
print(n)

[13 22 44]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Remove all the elements from num_array1 that are present in num_array2
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>

    num_array1 = np.array([1,2,3,4,5])
    num_array2 = np.array([5,6,7,8,9])

In [6]:
num_array1 = np.array([1,2,3,4,5])
print(num_array1)
num_array2 = np.array([5,6,7,8,9])
print(num_array2)
print(' ')
com_remove=np.intersect1d(num_array1, num_array2)
print(com_remove)

[1 2 3 4 5]
[5 6 7 8 9]

[5]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Get the positions where elements of two arrays match
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>

    num_array1 = np.array([1,2,3,2,3,4,3,4,5,6])
    num_array2 = np.array([7,2,10,2,7,4,9,4,9,8])

In [9]:
num_array1 = np.array([1,2,3,2,3,4,3,4,5,6])
print(num_array1)
num_array2 = np.array([7,2,10,2,7,4,9,4,9,8])
print(num_array2)
n23=np.intersect1d(num_array1, num_array2)
for index, value in np.ndenumerate(n23):
    print(index, value)
    print()

[1 2 3 2 3 4 3 4 5 6]
[ 7  2 10  2  7  4  9  4  9  8]
(0,) 2

(1,) 4

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Reverse each of the rows of the 2D array
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>

    num_array1 = np.arange(16).reshape(4,4)

In [112]:
num_array1 = np.arange(16).reshape(4,4)
print(num_array1)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

In [127]:
num_array1[:: -1]

array([[12, 13, 14, 15],
       [ 8,  9, 10, 11],
       [ 4,  5,  6,  7],
       [ 0,  1,  2,  3]])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Swap row 1 and row 2 in the given array
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
   
       num_array1 = np.arange(9).reshape(3,3)

In [98]:
num_array1 = np.arange(9).reshape(3,3)
print(num_array1)
num_array1[[0,1]]=num_array1[[1,0]]
print(' ')
print(num_array1)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

[[3 4 5]
 [0 1 2]
 [6 7 8]]